[Unit]
Description=trackwall
Wants=local-fs.target network.target
After=local-fs.target network.target

[Install]
WantedBy=multi-user.target

[Service]
Type=simple
User=root
Group=root
# Must be absolute...
ExecStart=/usr/local/sbin/trackwall server -v
KillMode=process
Restart=on-success
PrivateTmp=true
StandardOutput=syslog
