[Unit]
Description=dnsblock
Wants=local-fs.target network.target
After=local-fs.target network.target

[Install]
WantedBy=multi-user.target

[Service]
Type=simple
User=root
Group=root
#WorkingDirectory=/www
ExecStart=dnsblock
KillMode=process
Restart=on-success
PrivateTmp=true
StandardOutput=syslog
